/* Misc CSS */

.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 95%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 242, 242);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 25px;
  line-height: 1.2;
}

.card {
  /* padding: 20px;
  margin: 10px; */
  border-radius: 10px;
  background-color: antiquewhite;
}


/* CSS for HTML Elements */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  line-height: 1.2;
}

header {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 242, 242);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.2;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1.25em;
  text-align: center;
  padding-top: 10px;
}

h4 {
  font-size: .8em;
  text-align: left;
}

table {
  font-size: .8em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}